.search-container {
    background-color: #8D021F;
    width: 50%;
    height: 60px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4;
}

.search-form {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.search-input {
   margin-left: 10px; 
   padding: 10px;
   width: 300px;
   border-top-left-radius: 5px;
   border-bottom-left-radius: 5px;
   outline: none;
   border: none;
}

.search-button {
    border: none;
    outline: none;
    background: coral;
    padding: 10px;
    border-left: 1px solid rgba(0,0,0, 0.3);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #fff;
    font-weight: 700;
    transition-duration: 0.3s;
    cursor: pointer;
}

.search-button:hover {
    color: coral;
    background-color: #fff;
    border: 1px solid coral;
}

.logo {
    margin-left: 10px;
    width: 148px;
    height: 40px;
}
