<div class="leagues">
    <mat-form-field>
        <mat-label>Choose a league</mat-label>
        <mat-select panelClass="league-select" [(ngModel)]="choose">
            <mat-option value="laliga">La Liga</mat-option>
            <mat-option value="epl">Premier League</mat-option>
            <mat-option value="bl">Bundesliga</mat-option>
            <mat-option value="seriea">Serie A</mat-option>
            <mat-option value="ligue1">Ligue 1</mat-option>
        </mat-select>
    </mat-form-field>
</div>